.newsletter_section {
    padding: 80px 0;
    min-height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)),url("https://images.pexels.com/photos/5800215/pexels-photo-5800215.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    clip-path: polygon(30% 0, 100% 20%, 100% 100%, 0 100%, 0 20%);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    margin-top: 50px;
}

.newsletter_section h4{
    color: var(--primary-color);
    font-size: 18px;
}

.newsletter_section h2{
    color: #fff;
    font-size: 40px;
}

.newsletter_box{
    display: flex;
    align-items: center;
}
.newsletter_box input{
    border: 0;
    background-color: #fff;
    height: 55px;
    padding-left: 10px;
    border-radius: 5px 0 0 5px;
}

.newsletter_box button{
    border: 0;
    background-color: var(--primary-color);
    color: #fff;
    height: 55px;
    padding-left: 10px;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    cursor: pointer;
}

@media only screen and (max-width:450px){
    .newsletter_section h2{
        font-size: 25px;
    }
}