* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #E52727;
  --primary-hover: #dd1b1b;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  color: #333;
  font-size: 15px;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img,
input,
textarea,
form,
select {
  width: 100%;
}

input,
textarea,
form,
select,
button {
  outline: 0;
  font-size: 15px;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: 'Oswald', sans-serif;
}


/* Common Classes */
.btn {
  padding: 10px 22px;
  min-width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 50px;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.4s ease;
}

.btn_primary {
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 30px;
  border: 1px solid var(--primary-color);
}

.btn_primary:hover {
  background-color: var(--primary-hover);
}

/* Form */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.input_group {
  margin-bottom: 15px;
}

.form_control {
  height: 40px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  font-weight: normal;
}

.form_control::placeholder {
  font-weight: normal;
  color: #999;
}

textarea.form_control {
  min-height: 120px;
}

.form_error {
  color: var(--primary-color);
  font-size: 12px;
  margin-top: 5px;
  font-weight: 500;
}

/* Sign In and Sign Up */
.auth_form_wrapper {
  max-width: 450px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 30px 20px;
  border-radius: 5px;
}

.auth_form_wrapper h2 {
  text-align: center;
  margin-bottom: 25px;
  color: var(--primary-color);
  font-size: 22px;
  text-transform: uppercase;
}

.auth_toggler {
  text-align: center;
  padding-top: 30px;
  color: #999;
  font-size: 14px;
  font-weight: 500;
}

.auth_toggler a {
  color: var(--primary-color);
  padding-left: 5px;
  font-weight: 600;
}

/* Section */
.section_header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.section_header h4 {
  color: var(--primary-color);
  font-size: 18px;
  text-transform: uppercase;
}

.section_header h2 {
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.section_header p {
  color: #8D7777;

}

.section_body {
  padding: 30px 0;
}

.section_more_btn {
  text-align: center;
  margin-top: 50px;
}


/* Orders Page (Admin & User) */
.order_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
}

.order_item p {
  margin-bottom: 5px;
  color: #666;
  font-weight: 500;
}

.order_item h5 {
  color: var(--primary-color);
  font-size: 18px;
}

@media only screen and (max-width:600px) {
  .order_item {
    flex-direction: column;
  }

  .order_item div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }

  .order_item div:last-child {
    margin-bottom: 0;
  }

  .order_item div h5 {
    font-size: 15px;
  }
}


/* Admin Panel */
.admin-page {
  padding-left: 300px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: #F4FDFB;
  height: 100%;
  min-height: 100vh;
}
.admin_orders_list{
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  background-color: #fff;
  padding: 30px 20px;
}
.admin_orders_list .order_item{
  background-color: #F5F5F5;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
}
.admin_orders_list .order_item h5{
  color: #444;
  font-size: 16px;
}

@media only screen and (max-width:1200px) {
  .admin-page {
    padding-left: 30px;
    padding-top: 90px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width:768px) {
  .section_header h4 {
    font-size: 18px;
  }

  .section_header h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width:450px) {
  .section_header h4 {
    font-size: 16px;
  }

  .section_header h2 {
    font-size: 25px;
  }

  /* Admin */
  .admin_orders_list{
    padding: 20px 10px;
  }
  .admin_orders_list .order_item h5{
    font-size: 15px;
  }
}